SECRET_KEY=

POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=classroom

DATABASE_URL=postgresql+asyncpg://myuser:mypassword@localhost:5432/classroom       
DATABASE_POOL_SIZE=20
DATABASE_MAX_OVERFLOW=10
DATABASE_POOL_TIMEOUT=30

CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//

GEMINI_API_KEY_1=
# You can add more api keys GEMINI_API_KEY_i...

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SMTP_SERVER=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=