SECRET_KEY=
DATABASE_URL=postgresql+asyncpg://myuser:mypassword@localhost:5432/classroom
GEMINI_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SMTP_SERVER=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=