<aside class="sidebar">
    <ul class="navigation">
      <li><a href="dashboard.htm" class="active"><i class="fas fa-home"></i> Home</a></li>
      <li><a href="#"><i class="fas fa-graduation-cap"></i> Teaching</a></li>
      <li><a href="#"><i class="fas fa-user-graduate"></i> Enrolled</a></li>
      <li><a href="#"><i class="fas fa-archive"></i> Archived</a></li>
      <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
      <li><a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
  </aside>