<header class="topbar">
  <div class="left">
    <button class="menu-btn">☰</button>
    <img style="height: 40px; margin:0px;" src="Logo.jpg" alt="Logo" class="logo">
    <h2
      style="margin-left: 2px;font-family: 'serif'; font-style: itaxlic; padding-top: 2px; font-weight: bolder; color: #00018d">
      OGNIGRADE
    </h2>
  </div>
  <div class="search-bar">
    <input type="text" placeholder="Search Courses">
  </div>
  <div class="right">
    <!-- User Name will be injected here -->
    <span class="user-info" id="userName">Welcome, User</span>
    <!-- <a href="#" id="profileLink">
        <img src="profile-pic.jpg" alt="Profile Picture" class="profile-pic">
      </a> -->
  </div>
</header>